html,
body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    height: 100%;
    font-size: 14px;
}

body {
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Visby";
    src: url("../public/fonts/Visby/VisbyCF-Bold.ttf");
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Visby";
}
